#dishDetail_wrap_outside{
  overflow: hidden;
  padding-bottom:44px;
  width:100%;
  //background: #eee;
  .activityDetail_head{
    overflow: hidden;

    height: 44px;
    width: 100%;
    padding:0 18px;
    margin:0 auto;position: fixed;
    box-sizing:border-box;
    background: #fff;
    display:flex;
    align-items: center;
    //justify-content: space-between;
    i{
      font-size: 27px;
    }
    span{
      font-size:18px;
      font-weight: bold;
      text-align: center;
      width: 100%;

    }
  }
  #dishDetail_wrap {
    width: 100%;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom:10px solid #eeeeee;
    padding-top:44px;
    .dishDetail_info {
      display: flex;
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
  
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border-color: #E7E2E5;
        margin-right: 10px;
      }
      .userinfo {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-around;
        p {
          font-size: 13px;
          color: #4A4945;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        div {
          font-size: 12px;
          color: #999;
        }
      }
      .follow {
          width: 60px;
        height: 30px;
          background-color: #FFFFFF;
          border:#E98B71 1px solid;
          border-radius: 4px;
        text-align: center;
        line-height: 30px;
          span{
            color: #E98B71;
            font-size:12px;
          }
      }
    }
    .dishDetail_instroduce{
      margin: 10px 15px 11px 15px;
      font-size: 14px;
      color: #4A4945;
      line-height: 20px;
      max-height: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .dishDetail_image{
        margin: 0 11px;
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      box-sizing: border-box;
      margin-bottom: 15px;
        div{
          padding:4px;
          box-sizing: border-box;
          width:66.6%;

          img{
            width:100%;
          }
        }
    }
    .dishDetail_title{
      margin: 10px 15px;
      font-size: 16px;
      font-weight: bold;
      line-height: 22px;
      color: #4A4945;
      overflow: hidden;
      display: flex;
      padding-bottom: 10px;
      justify-content: space-between;
      >:last-child{
        font-size: 14px;
        line-height: 22px;
        color: #999999;
        font-weight: 400;
      }
    }

  }
  .dishDetail_bottom{
    background-color: #FFFFFF;
    height: 40px;
    padding: 0 15px;
    margin-top: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    section{
      display: flex;
      div{
        margin-right: 40px;
      }
    }
    div{
      span{
        font-size: 14px;
        color: #999999;
      }
    }
  }
}


