$size:14px;
$color:#4A4945;

.searchBoxL{
  background:#fff;
  width:100%;
  height:44px;
  padding:0 18px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: $color;
  font-size: 16px;
  position:fixed;
  top:0;
  left:0;
  z-index:2;
  .backImg{
    width:27px;
    height:27px;
    img{
      width:100%;
    }
  }
  .searchText{
    width:72%;
    height:35px;
    padding:0 10px;
    background:#f1f1f1;
    display:flex;
    span{
      width:33px;
      height:33px;
      img{
        width:100%;
      }
    }
    input{
      border:0;
      width:90%;
      height:100%;
      background:#f1f1f1;
      font-size: $size;
    }
  }
  span{
    width:52px;
    height:30px;
    line-height:30px;
    display:flex;
    align-items: center;
    justify-content: center;
    b{
      width:19px;
      height:19px;
      img{
        width:100%;
      }
    }
    strong{
      font-size: $size;
      color: #E98B71;
    }
  }
}