$size:14px;
$color:#4A4945;

.searchsWrap{
  width:100%;
  height:100%;
  background:#fff;
  padding-top:44px;
  position:relative;
  .searchBoxs{
    width:100%;
    height:44px;
    padding:0 18px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: $color;
    font-size: 16px;
    position:absolute;
    top:0;
    left:0;
    .backImg{
      width:27px;
      height:27px;
      img{
        width:100%;
      }
    }
    .searchText{
      width:239px;
      height:35px;
      padding:0 10px;
      background:#f1f1f1;
      input{
        border:0;
        width:100%;
        height:100%;
        background:#f1f1f1;
        font-size: $size;
      }
    }
    span{
      width:32px;
      height:30px;
      line-height:30px;
    }
  }
}

.searchTitle{
  width:345px;
  height:20px;
  margin:15px;
  font-size: $size;
  line-height: 20px;
  color: #999;
  text-align: left;
}

.popularSearchBox{
  width:345px;
  margin:0 15px;
  overflow: hidden;
  display:flex;
  flex-wrap:wrap;
}

.SearchResult{
  flex-shrink: 0;
  max-width:100px;
  height:32px;
  line-height:32px;
  font-size:16px;
  padding:0 10px;
  text-align:center;
  margin-right:10px;
  margin-bottom:10px;
  border-radius:100px;
  color:$color;
  background-color:#f5f7f9;
  cursor:pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight:normal;
}

.current{
  width:100%;
  height:100%;
}
.currentSearch{
  width:100%;
  height:50px;
  display:flex;
  align-items: center;
  .searchText{
    width:345px;
    height:20px;
    margin:0 auto;
    font-size: $size;
    line-height: 20px;
    color: #999;
    overflow: hidden;
    text-align: left;
    position:relative;
    p{
      width:19px;
      height:19px;
      position:absolute;
      right:0;
      bottom:0;
      img{
        width:100%;
      }
    }
  }
}