.load{
  font-size: 0.3rem;
  text-align: center;
}
.train-course{
  height: 100px;//必须小于所有列表总高度之和（如：一个列表的高度是20px,则10个列表就是200px,那么滚动元素盒子的高度就必须小于200px）
  overflow: auto;
  .list{
    display: flex;
    font-size: 0.3rem;
    align-items: center;
    .left-logo{
      width:1.5rem;
      height: 1.5rem;
      padding: 0.3rem;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}