
.taber {
  font-size: 16px;
  width: 100%;
  height: 49px;
  background: white;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 8;
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .35);
}


.tabbar-item{
  color: #999999;
  font-size: 11px;
  height:49px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabbar-logo{
  height: 25px;
  width: 25px;
}
.active{
  color: #313131;
}
.icon{
  height: 27px;
  width: 27px;
  margin-top: 6px;
}
