.am-drawer-sidebar{
  width: 50%;
  height: 100%;
  background: #f7fbff;
}
i{
  color: #999999;
}
.am-list-body{
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 10px 0 0 0;

}
.coo{
  margin-top: 10px;
 // background: #999999;
  width: 100%;
  height: 100px;

 .coSon_h3{
   display: flex;
   justify-content:space-around ;
   align-items: center;
   color: #999999;

 }
}

.donDon{
  margin-top: 10px;
  //background: #999999;
  width: 100%;
  height: 100px;
  color: #999999;
  .coSon_h3{
    display: flex;
    justify-content:space-around ;
    align-items: center;
  }
}
.coSon_h4{
    width: 100%;
   height: 50px;
}
.donwon{
  margin-top: 200px;
  color: #999999;
  .ddde{
    background-color: #E98B71;
    color: #FFFFFF;
    border: 1px solid;
    border-color: #E98B71;
    border-radius: 4px;
  }

}
